:root {
    --negro: #000000;
    --amarillo: #FED460;
    --amarilloclaro: #FEEA85;
    --amarillooscuro: #E6AF2E;
    --anaranjado: #F07B3F;
    --rosado: #EA5455;
    --rosaoscuro: #F73F52;
    --azuloscuro: #2D4059;
    --lila: #4E4E6A;
    --celesteoscuro: #1F6CB0;
    --celesteclaro: #70A3C4;

    }

*{
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;  
    
}

header {
    background-color: var(--negro);
    display: flex;
    flex-flow: column nowrap;  
}

    .menu {
        background-color: var(--azuloscuro);
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: auto;
    }

        .logo,
        .rrss {
            background-color: var(--rosado);
            flex: 1 1 auto;
        }

        .nav {
            background-color: var(--rosado);
            flex: 3 1 auto;
        }

    .texto {
        background-color: var(--anaranjado);
    }

        .descripcion {
            background-color: var(--amarillo);
        }

main {
    background-color: var(--negro);
    display: flex; 
}

    .section {
        background-color: var(--lila);
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
    }

        .p1,
        .p2,
        .p3, 
        .p4 {
            background-color: var(--celesteoscuro);
            flex: 1 1 45%;
        }


        .p5 {
            background-color: var(--celesteclaro);
            flex: 1 1 100%;
        }

    .aside {
        background-color: var(--rosaoscuro);
        flex: 1 1 auto;
    }

        .publi1,
        .publi2 {
            background-color: var(--amarillo);
        } 

footer {
    background-color: var(--negro);
    display: flex;
    justify-content: center;
}

    .footer {
        background-color: var(--amarillooscuro);
        flex: 100;
    }

    @media screen and (max-width: 768px) {
        main {
            flex-direction: column;
            background-color: #FEFF03;
    }
}